<mat-nav-list class="body-side">
  <div class="profile-card" >
    <div >
      <label class="lblname"> Maria Antonia Silva </label>
    <label  class="lblconex" >Última Conexión: 02/02/2021 10:37</label>
    </div>
  </div>


  <mat-nav-list >
    <mat-list-item  class="parent">
      <img src="../../../../assets/images/dashboard.svg">
      <span class="full-width"  >Dashboard</span>
    </mat-list-item>
    <hr class="hr">


    <mat-list-item  class="parent">
      <img src="../../../../assets/images/8propuestas.svg">
      <span class="full-width">  Propuestas</span>
    </mat-list-item>
    <hr class="hr">
    <mat-list-item  class="parent">
      <img src="../../../../assets/images/7contratos.svg">
      <span class="full-width"  >  Clientes</span>
    </mat-list-item>
    <hr class="hr">

    <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
      <img src="../../../../assets/images/6configuracion.svg">
      <span class="full-width" *ngIf="isExpanded || isShowing" style="color: #FFF;">  Configuración</span>
      <mat-icon  class="menu-button full-width" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
    </mat-list-item>
    <hr class="hr">
    <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
     <a class="full-width" mat-list-item  routerLinkActive="list-item-active" routerLink="offices"  href="...">  Surcusales</a>
      <a class="full-width" mat-list-item routerLinkActive="list-item-active" routerLink="posts"  href="...">  Control de empleados</a>
      <a  class="full-width"  mat-list-item routerLinkActive="list-item-active" routerLink="goal"  href="...">  Metas</a>
    </div>
  </mat-nav-list>

  <div >

  <a class="close-sesion" mat-list-item  routerLinkActive="list-item-active" routerLink="/">
    <img src="../../../../assets/images/salir.svg"  class="img-close">
    Cerrar sesión
  </a>
  </div>

</mat-nav-list>
