ul li {
  list-style:none;
}

.header-tool{
  background-color: #CC0000;
  height: 75px;
}

.circular--square {
  width:40px;
    height:40px;
    border-radius:110px;
    margin-top: 25px;
}

.menuhamb{
  margin-bottom: 385px;
  font-size: 45px;
  margin-left: 15px;
}

.logo{
  margin-left: 45px;
  margin-top: 20px;
  width: 200px;
  height: 48px;
}

button{
  font-size: 100%;
  margin-top: 30px;
  min-width: min-content;
}

.labelheader{
font-weight: 400;
color: #FFF;
margin-top: 23px;
font-size: 17px;
}



.mat-sidenav-content{
    font-size: 200%;
    text-align: center;
}

.alabel{
  color: #FFF;
  margin-right:20px;
  font-size: 18px;
}

.sidenav{
  color: #FFF;
font-size: 16px;
font-family: "Roboto";
}

.img-header{
  margin-right: 16px;
}

.vl {
  border-left: 1px solid#000000;
  height: 35px;
  margin-top: 20px;
}

