$color: #767676;

h1, input::-webkit-input-placeholder, button {
  font-family: 'roboto', sans-serif;
  transition: all 0.3s ease-in-out;
  font-size: 12px;
}

.input-Label{
  color:#222222;
  font-size: 16px;
  text-align: left;
letter-spacing: 0px;
color: #222222;
opacity: 1;
font-family: "Roboto";
border-style: none;
border-bottom: 1px solid #767676;

}

form {
  background-color: #FFF;
  box-sizing: border-box;
  width: 445px;
  height: 400px;
  margin: 64px auto 0;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2);
  padding-bottom: 30px;
  border-radius: 3px;
  h1 {
    box-sizing: border-box;
    padding: 20px;
  }
}

input {
  margin: 40px 25px;
  width: 400px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 2px $color;
  transition: all 0.3s cubic-bezier(.64,.09,.08,1);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 100%, $color 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: darken($color, 20%);
  &:focus, &:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
    &::-webkit-input-placeholder {
      color: $color;
      font-size: 14px;
      transform: translateY(-15px);
      visibility: visible !important;
    }
  }
}

.input-a {
  margin: 40px 25px;
  width: 400px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px $color;
  transition: all 0.3s cubic-bezier(.64,.09,.08,1);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 100%, $color 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: darken($color, 20%);
  &:focus, &:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
    &::-webkit-input-placeholder {
      color: $color;
      font-size: 14px;
      transform: translateY(-15px);
      visibility: visible !important;
    }
  }
}


.formnew{
  padding-top: 3px;
}

button {
  border: none;
  font-size: 16px;
  background: #CC0000;
  cursor: pointer;
  border-radius: 3px;
  padding: 12px;
  font-weight: 100;
  width: 400px;
  color: white;
  margin-left: 25px;
}

.label-password{
  font-size: 16px;
  color: #222222;
  opacity: 100%;
  text-align: left;
  font-family: "Roboto";
}

@-webkit-keyframes floatBubble {
  0% {
      top:500px;
  }
  100% {
      top: 0px;
  }
}
@keyframes floatBubble {
  0% {
      top:500px;
  }
  100% {
      top: 0px;
  }
}



@keyframes cssAnimation {
  to   { visibility: visible; }
}


.loader{
  position: relative;
margin-top: 90px;
width: 100%;
height: 54px;
-webkit-animation: floatBubble 2s normal ease-out;
  animation: floatBubble 1s normal ease-out;
}

.label-form{
  margin: 40px 10px;
  color: #222222;
  margin-top: 13px;

  span{
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
    color: #222222;
    opacity: 1;
  }
}

.icon-eye{
  text-align: right;
  margin-right: 29px;
  margin-bottom: 20px;
  margin-bottom: 45px;
}

input::placeholder{
  font-size: 16px;
}

.input-password{
  padding-top: 30px;
  margin-bottom: 8px;
}
input:focus {
  background-color: yellow;
}
