:host{
  .mat-icon{
    vertical-align: middle;
    margin-right: 20px;
  }
}

.body-side{
  position: fixed;
}

.profile-card{
  text-align: left;
  padding: 0 20px 20px 20px;
  width: 300px;
  margin-top: 17px;
  margin-left: 36px;
}

.example-container {
  height: 500px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.example-sidenav {
   user-select: none;
}
.full-width {
  color: #FFF;
  margin-right: 150px;
  margin-left: 15px;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  overflow: initial;

}
.submenu.expanded {
  transform: scaleY(1);
}

.lblname{

  font: normal normal medium 14px/59px "Roboto";
  color: #FFFFFF;
  font-size: 14px;
}

.lblconex{
  color: #707070;
  font-size: 14px;
}



.mat-drawer {
  width: 317px;
}

.hr{
  width: 300px;
  border-top: 1px solid #474747;
  padding-left: 20px;
  margin-left: 30px;
  margin-top: -1px;
}

.close-sesion{
  color: #FFF;
  margin-top: 30px;
}

.img-close{
  margin-right: 15px;
}
