<mat-toolbar  class="header-tool">
  <mat-toolbar-row>
    <button style="color: #FFF;" mat-icon-button (click)="toggleSideBar()">
      <mat-icon class="menuhamb">menu </mat-icon>

    </button>
    <img src="../../../../assets/images/1logo.svg"  class="logo">
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" class="header-tool">
      <ul fxLayout="row" fxLayoutGap="20px"  >

        <li>
          <button mat-icon-button class="labelheader" >
            <img src="../../../../assets/images/Trazado10.png" class="img-header">
            Buscar
          </button>
        </li>
        <div class="vl"></div>
        <li>
            <button mat-icon-button class="labelheader" >
              <img src="../../../../assets/images/Trazado11.png" class="img-header">
               Filtrar
            </button>
        </li>
        <img class="circular--square"src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" />
        <li>
      </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
