<div class="sucur-screen">
  
  <div class="label-sucur" >
    <span class="material-icons"> keyboard_arrow_left </span>
    <span class="label-sucur">Lista de empleados</span>
  </div>

  <div class="label-new">
    <span class="label-new">Nuevo Empleado</span>
  </div>

  <form>

    <div class="container-sucur">

      <div class="container-sucur-item">
        <div class="group">
          <input type="text" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Nombre</label>
        </div>
      </div>

      <div style="flex: 1;"></div>

      <div class="container-sucur-item">
        <div class="group">
          <input type="text" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Apellidos</label>
        </div>
      </div>

      
    </div>

    <div class="container-sucur">

      <div class="container-sucur-item">
        <div class="group">
          <input type="text" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Cedula</label>
        </div>
      </div>

      <div style="flex: 1;"></div>

      <div class="container-sucur-item">
        <div class="group">
          <input type="text" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Tipo</label>
        </div>
      </div>

      
    </div>

    <div class="container-sucur">

      <div class="container-sucur-item">
        <div class="group">
          <input type="text" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Sucursal</label>
        </div>
      </div>

      <div style="flex: 1;"></div>

      <div class="container-sucur-item">
        <div class="group">
          <input type="text" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Perfil</label>
        </div>
      </div>
    </div>



    <div class="btn-save">
      <button type="button" class="btn btn-guardar"><strong>GUARDAR</strong></button>
    </div>


  </form>
</div>