<img src="../assets/images/1logo.svg" class="loader">

<form  *ngIf="showSpinner===false" class="formnew" >
  <div class="label-form">
    <span >Bienvenido, inicia sesión para continuar</span><hr>
  </div>
  <input    type="email" placeholder="Ingresa tu número de identificación"  >
  <input  class="input-password" placeholder="Ingresa tu contraseña" type="password"  [type]="hide ? 'text':'password' ">
  <div class="icon-eye">
      <i class="material-icons" matSuffix (click)="hide = !hide">{{hide ? 'visibility':'visibility_off'}}</i>
  </div>
  <button  type="submit" (click)="loadData()" >Inicio sesión</button>
</form>
<div *ngIf="showSpinner===true">
  <app-loader></app-loader >
</div>

