
<div class="label-propu">
  <span>Aprobación de propuestas</span>
</div>

<div class="aproba">
  <span>Esperando aprobación</span>
  <span>Hoy (3)</span>
  <span>Este mes (15)</span>
  <span>Todo (22)</span>
</div>

<swiper [slidesPerView]="4" [spaceBetween]="10" [virtual]="{}">
  <ng-container *ngFor="let slide of slides; index as i">
    <ng-template swiperSlide>
      <div class="card card-align" fxLayoutGap="15px">
        <div class="card__title text-center" >
          <img  src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="circular--square">
        </div>
        <div class="text-name label-title text-center-name">
          <label >Maria Antonia Silva Gonzales</label>
        </div>
        <div class="text-name text-center-name">
          <label>cc: 104578549385</label>
        </div>
        <hr>
        <div class="text-name label-name">
          <label><span>Número Propuesta:</span> 456435</label>
          <label><span>Fecha de simulación:</span> 23/08/19</label>
          <label><span>Valor del crédito:</span> $6.000.000</label>
          <label><span>Agente:</span> Patricia Mederos </label>
          <button   type="submit" class="btn   buttonLogin"  (click)="loadData()"  >Iniciar sesión</button><br>
        </div>


      </div>
    </ng-template>


  </ng-container>
</swiper>

<div class="aproba-second">
  <span>Historico</span>
  <span>Hoy (5)</span>
  <span>Este mes (15)</span>
  <span>Todo (22)</span>
  <div class="manImg">
  <img  src="../../../assets/images/3negado.png">

  </div>
  <span style="color: #429321;margin-left: 6px;">  Aprobados(4)</span>
</div>

<swiper [slidesPerView]="4" [spaceBetween]="10" [virtual]="{}">
  <ng-container *ngFor="let slide of slides; index as i">
    <ng-template swiperSlide>
      <div class="card card-align" >
        <div >
          <img class="manImg" src="../../../assets/images/3negado.png">
          <span style="color: #429321;"></span>
        </div>

        <div class="card__title text-center" style="margin-top: -20px" >
          <img  src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="circular--square">
        </div>


        <div class="text-name label-title text-center-name">
          <label >Maria Antonia Silva Gonzales</label>

        </div>

        <div class="text-name text-center-name">
          <label>cc: 104578549385</label>

        </div>
        <hr>

        <div class="text-name label-name">
          <label><span>Número Propuesta:</span> 456435</label>
          <label><span>Fecha de simulación:</span> 23/08/19</label>
          <label><span>Valor del crédito:</span> $6.000.000</label>
          <label><span>Agente:</span> Patricia Mederos </label>
          <button   type="submit" class="btn   buttonLogin"  (click)="loadData()"  >Iniciar sesión</button><br>
        </div>


      </div>
    </ng-template>


  </ng-container>
</swiper>
