*,
*::before,
*::after {
  box-sizing: border-box
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.section {
  margin: 60px 0 ;
}
.container {
  max-width: 1170px ;
  margin: 0 auto ;
  padding: 0 30px ;
}
.catalog__flex {
  display: flex ;
  flex-wrap: wrap ;
  margin: 0 -15px -30px ;
}
.catalog__col {
  width: 25% ;
  padding: 0 15px 30px ;
}
.card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 15px rgba(33,37,41,0.1);
  transition: all 0.3s ease;
  height: 100%;
}

.text-name{
font-size: 12px;
font-family: 'Roboto';
font-weight: 400;

}

.text-center-name{
  text-align: center;
}


.circular--square {
  width:60px;
    height:60px;
    border-radius:110px;

}
.text-center{
  text-align: center;
}

.label-name{
  label{
    display: block;
    span{
      font-weight: bold;
      color: #545454;
    }
  }
}

.card-align{
padding-left: 50px;
padding-right: 40px;
}

.label-title{
  font-weight: bold;
}
.card:hover {
  box-shadow: 0 0 5px rgba(33,37,41,0.1);
}


.card__button {
  margin-top: 30px;
  text-align: center;
}
.card__button a {
  display: inline-flex;
  padding: 0 30px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  height: 40px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #f7cb15;
  transition: all 0.3s ease;
  background: #CC0000;
}
.card__button a:hover {
  border-color: transparent;
  background: #f7cb15;
}

.column {
  float: left;
  width: 70%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.label-resu{
  font-size: 11px;
  color: #545454;
}


@media (max-width: 1199.98px) {
  .catalog__col {
    width: 33.33333333% ;
  }
}
@media (max-width: 991.98px) {
  .catalog__col {
    width: 50% ;
  }
}
@media (max-width: 575.98px) {
  .catalog__col {
    width: 100% ;
  }
}

.label-propu{
font-weight: bold;
font-size: 22px;
color: #545454;

}

.buttonLogin{
  margin-top: 10px;
  background-color:red;
  color: #FFFFFF;
  width: 100%;

}

.aproba{
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  span{

    margin-right: 40px;
    &:first-child{
      color: #CC0000;
      font-weight: bold;
    }
    &:nth-child(2){
      font-weight: bold;
    }
  }
}


.aproba-second{
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  span{

    margin-right: 140px;
    &:first-child{
      color: #CC0000;
      font-weight: bold;
    }
    &:nth-child(2){
      font-weight: bold;
    }
  }
}

.manImg{
width: 20px;
height: 20px;
}
