<div class="goal-screen">

  <div class="label-propu">
    <span>Metas</span>
  </div>

  <div class="btn-goal">
    <button class="btn btn-button-goal">Junior</button>
    <button class="btn btn-button-goal">Senior</button>
    <button class="btn btn-button-goal">Master</button>
    <button class="btn btn-button-goal">Asistente</button>
    <button class="btn  btn-button-goal">Gerente</button>
  </div>

  <form >

    <div class="goal-form">
      <div class="goal-form-column">
        <div class="group">
          <input type="text" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Cuantia de prestamos mensual ($)</label>
        </div>

        <div class="group">
          <input type="text" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Mora general</label>
        </div>

        <div class="group">
          <input type="text" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Ventas seguro</label>
        </div>

        <div class="group">
          <input type="text" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Numero de prestamos</label>
        </div>
      </div>

      <div style="flex: 2;"></div>

      <div class="goal-form-column">
        <div class="group">
          <input type="text" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Crecimiento de cartera</label>
        </div>

        <div class="group">
          <input type="text" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Cartera vencida (30 dias)</label>
        </div>

        <div class="group">
          <input type="text" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Ventas datafono</label>
        </div>

        <div class="group">
          <input type="text" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Apertura de cuentas (Superdigital)</label>
        </div>

      </div>
    </div>
    <div class="btn-save">
      <button type="button" class="btn btn-guardar">GUARDAR</button>
    </div>
  </form>
</div>