.label-propu{
  font-weight: bold;
  font-size: 22px;
  color: #545454;

  }

  .btn-goal{
    display: flex;
    flex-direction: row;
  }

  .goal-form{
    display: flex;
    margin-top: 35px;
    
  }

  .goal-form-column{
    flex: 4;
  }
 
  .goal-screen{
    margin-left: 30px;
    margin-right: 30px;
  }

  .btn-button-goal{
    margin-top: 30px;
    width: 300px;
    border: 2px solid #C5C5C5;
    margin-right: 120px;
  }

  .btn-guardar{
    color: #FFF;
    border-style: none;
    background-color: #CC0000;
    width: 136px;
    font-weight: bold;

  }

  .btn-save{
    text-align: right;
    margin-top: 45px;

  }



  * { box-sizing:border-box; }

  /* basic stylings ------------------------------------------ */
  body 				 { background:url(https://scotch.io/wp-content/uploads/2014/07/61.jpg); }
  .container 		{
    font-family:'Roboto';
    width:600px;
    margin:30px auto 0;
    display:block;
    background:#FFF;
    padding:10px 50px 50px;
  }
  h2 		 {
    text-align:center;
    margin-bottom:50px;
  }
  h2 small {
    font-weight:normal;
    color:#888;
    display:block;
  }


  /* form starting stylings ------------------------------- */
  .group 			  {
    position:relative;
    margin-bottom:45px;
  }
  input 				{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    border:none;
    border-bottom:1px solid #757575;
    width: 100%;
  }
  input:focus 		{ outline:none; }

  /* LABEL ======================================= */
  label 				 {
    color:#999;
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
  }

  /* active state */
  input:focus ~ label, input:valid ~ label 		{
    top:-20px;
    font-size:14px;
    color:#5264AE;
  }

  /* BOTTOM BARS ================================= */
  .bar 	{ position:relative; display:block; width:550px; }
  .bar:before, .bar:after 	{
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background:#5264AE;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%;
  }

  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
  }

  /* HIGHLIGHTER ================================== */
  .highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
  }

  /* active state */
  input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }

  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }


  // css nuevo
  .sucur-screen{
    margin-left: 30px;
    margin-right: 30px;
  }
  .label-sucur{
    text-align: left;
  font: normal normal normal 18px/64px Roboto;
  font-weight: 400;
  letter-spacing: 0px;
  color: #CC0000;
  opacity: 1;
  margin-top: 10px;
  }
  
  .label-new{
  font-family: "Roboto";
  font-weight: 700;
  color: #545454;
  opacity: 1;
  font-size: 22px;
  font-weight: bold;
  }
  
  .label-descri{
    text-align: left;
  letter-spacing: 0px;
  color: #767676;
  opacity: 1;
  font-size: 14px;
  text-align: left;
  }
  
  .btn-guardar{
    color: #FFF;
    border-style: none;
    background-color: #CC0000;
    width: 136px;
    
  }
  
  .btn-save{
    text-align: right;
    display: block;
  }
  
  
  * { box-sizing:border-box; }
  
  /* basic stylings ------------------------------------------ */
  body 				 { background:url(https://scotch.io/wp-content/uploads/2014/07/61.jpg); }
  .container 		{
    font-family:'Roboto';
    width:600px;
    margin:30px auto 0;
    display:block;
    background:#FFF;
    padding:10px 50px 50px;
  }
  
  .container-sucur{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
  }
  
  .container-sucur-item{
    flex: 4.5;
  }
  h2 		 {
    text-align:center;
    margin-bottom:50px;
  }
  h2 small {
    font-weight:normal;
    color:#888;
    display:block;
  }
  
  /* form starting stylings ------------------------------- */
  .group 			  {
    position:relative;
    margin-bottom:55px;
  }
  input 				{
    font-size:18px;
    padding:10px 10px 10px 5px;
    width: 100%;
    border:none;
    border-bottom:1px solid #767676
  }
   input:focus 		{ outline:none; }
  
  /* LABEL ======================================= */
  label 				 {
    color:#999;
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
  }
  
  /* active state */
  input:focus ~ label, input:valid ~ label 		{
    top:-20px;
    font-size:14px;
    color:#767676;
  }
  
  /* BOTTOM BARS ================================= */
  .bar 	{ position:relative; display:block; width:100%; }
  .bar:before, .bar:after 	{
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background:#767676;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%;
  }
  
  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
  }
  
  /* HIGHLIGHTER ================================== */
  .highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
  
  
  /* active state */
  input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  
  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  


