<app-header (toggleSideBarForMe)="sideBarToggler()"></app-header>

<mat-drawer-container class="drawer-color">
  <mat-drawer class="drawer-color-side" mode="side" [opened]="sideBarOpen">
    <app-sidebar></app-sidebar>
  </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>

</mat-drawer-container>
