:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 350px;
}

mat-drawer-container {
  height: 100%;
}

mat-drawer-content {
  padding: 20px;
}

.drawer-color{
  background-color: #FFF;
}

.drawer-color-side{
  background-color: #222222;
}
